body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.container{
    min-width: 800px;
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    border : 2px solid black;
    /* opacity: 1;
    background-color: olivedrab; */
}

